html {
    background: url("../images/tickets.jpg") no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    font-family:'Montserrat', sans-serif;
}

#red {
    background-color:rgba(227,47,48,.4);
    margin:0 auto 300px auto;
    width:60%;
    padding:1em;
    display:block;
}

#show {
    padding:10px;
}

h1 {
    position: relative;
    left: -175px;
    font-size:100%;
    font-weight:900;
    opacity: .2;
    text-align:center;
    color:#fff;
}

h2 {
    font-size: 120%;
    padding: .25em 0 .25em 25px;
    cursor: pointer;
    background: url(../images/plus.png) no-repeat left center;
}

h2.minus {
    background: url(../images/minus.png) no-repeat left center;
    color:#fff;
}

div {
    display: none;
} 

div.open {
    display: block;
    background-color:rgba(255,255,255,.7);
    color:#451B0C;
    padding:.25em;
    font-size:1em;
    list-style-type:none;
    word-wrap:break-word;
}

ul {
    padding-left:45px;
    color:#fff;
}

li {
    padding-bottom: .25em;
    display:inline-block;
}


a {
    color:#fff;
    text-align:center;
}

a.link {
    color:#E32F30;
    font-size:1em;
    font-weight:300;
}

#purchase {
    margin:auto;
    display:block;
    padding:1em;
    background-color:#fff;
    color:#E32F30;
    font-family:'Montserrat', sans-serif;
    font-size:1em;
    font-weight:800;
    border-radius:4px;
}

#purchase:hover, #info1:hover, #info2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#info1, #info2 {
    margin:auto;
    display:block;
    padding:.5em;
    background-color:none;
    color:#E32F30;
    font-family:'Montserrat',sans-serif;
    font-size:.75em;
    font-weight:500;
    border-radius:12px;
}

#tickets {
    color:#fff;
    text-align:center;
    font-size:1em;
    font-weight:700;
    padding-bottom:.25em;
    padding-left:25px;
    display:none;
}

#remove {
    color:#ccc;
    font-size:2em;
    font-weight:300;
    display:none;
    margin-left:500px;
}

#tagline1, #tagline2 {
    color:#fff;
    margin:auto;
    padding:2em;
    width:50%;
    text-align:center;
    font-size:1em;
    font-weight:300;
}